.w {
  margin: 0 auto;
  width: 1190px;
  /* border:2px solid black; */
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  background-color: #f4f4f4;
  /* width: 1900px; */
}
input,
button {
  padding: 0px;
  border: 0px;
}
ul,
h1 {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}
a:hover {
  color: #e33333;
}
/* 右侧侧边栏设置 */
.sider-bar {
  background-color: #fff;
  position: absolute;
  top: 268px;
  right: 90px;
}

.sider-bar li {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 28px;
  height: 38px;
  line-height: 19px;
  font-size: 14px;
  color: #333;
  text-align: center;
  border-bottom: 1px solid rgb(136, 136, 136, 0.3);
}
.sider-bar .red {
  color: #e33333;
}
.sider-bar li:hover {
  background-color: #e33333;
  color: #fff;
}
.sider-bar li img {
  width: 16px;
  height: 16px;
  margin: 0px auto;
}
/* header部分样式 */
header {
  height: 80px;
  background-color: #072557;
  display: block;
}
header .w {
  position: relative;
}
header img {
  width: 1190px;
  height: 78px;
}
header button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(214, 210, 210, 0.3);
  border-radius: 4px;
}
/* 快速导航栏设置 */
.shortcut {
  background-color: #e3e4e5;
  height: 38px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  color: rgb(136, 136, 136);
  line-height: 38px;
  margin: 0px auto;
}
.shortcut img {
  height: 12px;
  width: 12px;
}
#shortcut_right a {
  font-size: 12px;
}
#shortcut_right li {
  float: left;
  position: relative;
}
#shortcut_right .dropdown:hover {
  background-color: #fff;
  border: 0.3px solid rgb(214, 210, 210);
  border-top: none;
}

#shortcut_right .dropdown ul {
  background-color: #fff;
  width: 260px;
  position: absolute;
  left: 0px;
  top: 38px;
  display: flex;
  flex-wrap: wrap;
  border: 0.3px solid rgb(214, 210, 210);
  border-top: none;
  z-index: 999;
}
#shortcut_right .dropdown ul h5 {
  margin-left: 10px;
}
#shortcut_right .dropdown ul li {
  text-align: center;
  width: 126px;
  height: 24px;
  line-height: 24px;
}
#shortcut_right .dropdown5 ul {
  width: 190px;
  height: 404px;
}
#shortcut_right .dropdown5 ul li {
  width: 190px;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.3px solid rgb(214, 210, 210);
}
#shortcut_right .dropdown5 li img {
  width: 70px;
  height: 70px;
  float: left;
  padding-left: 10px;
}
#shortcut_right .dropdown5 .fonts img {
  width: 20px;
  height: 20px;
}
.space {
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 10px 12px 0;
}
#shortcut_right li a img {
  margin-top: 2px;
}
/* 设置中间头部样式 */
.middle_w {
  height: 140px;
  /* background-color: pink; */
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.logo {
  position: absolute;
}

.logo h1 a {
  display: block;
  background: #fff url(../img/logo_2.jpg) no-repeat;
  width: 190px;
  height: 140px;
}
#middle_w_container {
  position: relative;
}
.form {
  width: 536px;
  height: 32px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 280px;
}
.form input {
  width: 477px;
  height: 28px;
  padding: 0px;
  border: 2px solid #e33333;
  float: left;
  font-size: 14px;
  padding-left: 10px;
}
.form button {
  background-color: #e33333;
  width: 45.5px;
  height: 32px;
  float: left;
}
.form button img {
  width: 20px;
  height: 22.4px;
  color: white;
}
.shopcar {
  width: 130px;
  height: 34px;
  position: absolute;
  top: 20px;
  right: 230px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}
.shopcar:hover {
  border: 1px solid #e33333;
}
.shopcar img {
  width: 16px;
  height: 17.6px;
  margin-right: 10px;
}
.shopcar a {
  color: #e33333;
}
.QRCode {
  position: absolute;
  top: 2px;
  right: 0px;
}
.QRCode img {
  width: 60px;
  height: 60px;
  box-shadow: 2px 2pxrgba (0, 0, 0, 0.3);
}

.searchKeyname {
  position: absolute;
  top: 60px;
  left: 280px;
}
.searchKeyname li {
  float: left;
  font-size: 12px;
  margin-right: 8px;
}

.seachKeyname2 {
  position: absolute;
  top: 110px;
  left: 260px;
}
.seachKeyname2 li {
  float: left;
  font-size: 15px;
  font-weight: bolder;
  margin-right: 11px;
  color: black;
}
/* 页面底部 */
.footer {
  width: 1519.2px;
  height: 567.8px;
  background-color: #f4f4f4;
}
.footer a {
  color: #666;
}
.service {
  height: 102px;
  width: 1519.2px;
  border-bottom: 1px solid rgb(2, 2, 2, 0.1);
}
.service ul {
  width: 1080px;
  height: 42px;
  margin: 0px auto;
  line-height: 42px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.service li {
  display: flex;
  margin: 0px auto;
  padding-left: 22.5px;
  padding-right: 22.5px;
  float: left;
  width: 225px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
}
.service li img {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
.service li span {
  display: inline-block;
  width: 180px;
  height: 42px;
  line-height: 42px;
}
/* 帮助 */
.help {
  padding: 20px 0px 40px;
  width: 1519.2px;
  height: 160px;
  border-bottom: 1px solid rgb(2, 2, 2, 0.1);
}
.helpcontent {
  width: 1190px;
  height: 160px;
  margin: 0px auto;
}
.helpcontent1 {
  float: left;
}
.helpcontent h5 {
  width: 198px;
  height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 22px;
  color: #666;
}
.helpcontent li {
  width: 198px;
  height: 22px;
  color: #666;
  font-size: 12px;
}
.helpcover {
  width: 200px;
  height: 150px;
  float: left;
}
.helpcover h5 {
  width: 200px;
  height: 21px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
}
.helpcover p {
  font-size: 12px;
}
/* 底部版权 */
.copyright {
  padding-top: 20px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.copyright span {
  margin: 0px 10px;
}
.copyright a {
  color: #666;
}
.copyright a:hover {
  color: #e33333;
}
.copyright div {
  margin-top: 20px;
}
.copyright div p {
  line-height: 22px;
}
.foot-icon a {
  display: inline-block;
  width: 103px;
  height: 33px;
  background: url(../img/23f3.png) no-repeat 0 -150px;
  margin: 20px 4px 0;
}
/* .foot-icon a:nth-child(2){
    background-position: -103px -150px;
}
.foot-icon a:nth-child(3){
    background-position: 0px -183px;
}
.foot-icon a:nth-child(4){
    background-position: -103px -183px;
}
.foot-icon a:nth-child(5){
    background-position: 0px -216px;
}
.foot-icon a:nth-child(6){
    background-position: -103px -261px;
} */
